name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - LICENSE
  pull_request:
    paths-ignore:
      - README.md
      - LICENSE
  workflow_dispatch:

permissions:
  contents: read

env:
  DEVELOPER_DIR: /Applications/Xcode_15.0.app

jobs:
  build:
    name: Build & Test
    runs-on: macos-13
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode 15
        run: sudo xcode-select -s /Applications/Xcode_15.0.app

      - name: Build
        run: swift build

      - name: Test
        run: swift test

  linux-test:
    name: Linux Test
    runs-on: ubuntu-latest
    steps:
      - name: Install Swift
        uses: slashmo/install-swift@v0.4.0
        with:
          version: swift-5.9-RELEASE

      - uses: actions/checkout@v4

      - name: Test
        run: swift test
